.idea
__pycache__
venv
jetstream/Resources/Character_Renders_Source/Input_Folder
jetstream/Resources/Character_Renders_Source/Output_Folder
jetstream/Youtube_Thumbnails/*
*.log
*.zip
build
dist
*.spec